@import 'mixins';
@import 'videoComponent';
@import 'buttonOverlay';

body {
    font-size: 16px;
    line-height: 1;
    height: 100vh;
    background: #FFFFFF;

    .uirobot-main-app {
        @include display-flex();
    }
}